{% extends 'base.html' %}
{% block content %}
<h1>Best Sellers</h1>
<div class="row">
    {% for product in products %}
        <div class="col">
        <a style="display: block" href="{% url 'detail' product.id %}">
        <div class="card" style="width: 18rem;">
            <img src="{{ product.image_url}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">{{product.price}}KD</p>
                <a href="#" class="btn btn-primary" style="background-color: blueviolet">Add Cart</a>
            </div>
        </div>
    </div>
        </a>
    {% endfor %}
</div>
{% endblock %}